{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  {% if page.url == "/projects/" %}
    <div id="all-tags">
      <h4> Tags </h4>
      <span class="all-tags-help float-left"> Use search-box to filter by tags </span>
      <span class="label label-info float-left ">natural language processing</span>
      <span class="label label-info float-left ">computational linguistics</span>
      <span class="label label-info float-left ">machine learning</span>
      <span class="label label-info float-left ">machine translation</span>
      <span class="label label-info float-left">social media</span>
      <span class="label label-info float-left">data analytics</span>
      <span class="label label-info float-left ">optimization methods</span>
      <span class="label label-info float-left ">information visualization</span>
      <span class="label label-info float-left ">information retrieval </span>
      <span class="label label-info float-left "> computer vision </span>
    </div>
  {% endif %}

  </div>
{% endif %}
